
@{
    Layout = null;
}

<head>    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrapAreainterna.css" rel="stylesheet" />
</head>

<h1>Area Reservada</h1>
<hr />

@RenderBody()