
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAreaInterna.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-2">Oi eu sou a página interna</div>
    <div class="col-md-4">##</div>
    <div class="col-md-2">Final da linha</div>
</div>

<div class="row">
    <div class="col-md-6">Outra linha</div>
    <div class="col-md-2">##</div>
    <div class="col-md-4">Final da outra linha</div>
</div>
